<% if (editProfile) { %>
    <!-- <p style="color: red ;"> <%= editProfile  %>  </p> -->
    <div style="font-weight:bold ;" class=" mt-3 sm col-sm-12 alert alert-danger" role="alert">
       <%= editProfile  %> 
      </div>
    
   <% } %>