<% if (errors) { %>
    <!-- <p style="color: red ;"> <%= errors  %>  </p> -->
    <div style="font-weight:bold ;" class=" sm col-sm-8 alert alert-danger" role="alert">
       <%= errors  %> 
      </div>
    
   <% } %>