<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>Register</title>
</head>

<body>
  <%=  JSON.stringify(result)  %> 
  
  <div class="container">
      <%- include('partials/navbar.ejs') %>
      <!--  -->
      <div style="margin-top: 20px; font-weight:bolder; text-align: center;" class="mb-3 col-sm-8 alert alert-primary" role="alert">
        Register
      </div>
   
      <form style="font-weight:bold ; align-items: center;" action="/register" method="post">

        <div class="mb-3 col-sm-8">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" name="email">
        </div>
        <div class="mb-3 col-sm-8">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" name="password">
        </div>
        <div class="mb-3 col-sm-8">
          <label for="role" class="form-label">Role</label>
          <select class="form-select" name="role">
            <option selected disabled>-- Select --</option>
            <option value="Admin">Admin</option>
            <option value="Employee">Employee</option>
          </select>

        </div>
        <div class="mb-3 col-sm-8">
          <label for="role" class="form-label">Department</label>
          <select class="form-select" name="DepartmentId">
            <option selected disabled>-- Select --</option>
            <% result.forEach((el)=>{%>
              <option value="<%= el.Department.id  %>"> <%= el.Department.divisi  %>  </option>
            </select>
            <% }) %>

        </div>

        <div class="mb-3 col-sm-8">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" name="name">
        </div>
        <div class="mb-3 col-sm-8">
          <label  class="form-label">Gender</label>
          <select class="form-select" name="gender" >
            <option value="" selected disabled>--Gender--</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>
        <div class="mb-3 col-sm-8">
          <label  class="form-label">Date of Birth</label>
          <input type="date" class="form-control" name="dateOfBirth">
        </div>
        <div class="mb-3 col-sm-8">
          <label  class="form-label">Status</label>
          <!-- <input type="text" class="form-control" name="status"> -->
          <select class="form-select" name="status" >
            <option value="" selected disabled>--status--</option>
            <option value="Permanent">Permanent</option>
            <option value="Contract">Contract</option>
          </select>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  














    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>